/* 重置浏览器默认样式 */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* 应用于所有元素 */
*, *::before, *::after {
  box-sizing: inherit;
}

/* 全局动画效果 */

/* 从无到有 */
.fade-in {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* 从下向上浮现 */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation:fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity:1;
    transform: translateY(0);
  }
}

/* 从屏幕左侧划出 */
.left-slide {
  /* 绑定动画名称、持续时间、动画曲线和填充模式 */
  animation: leftSlide 1.5s ease-out forwards;
}

/* 定义动画的关键帧 */
@keyframes leftSlide {
  from {
    transform: translateX(-100%); 
    opacity: 0;                   
  }
  to {
    transform: translateX(0);
    opacity: 1;                   
  }
}

/* 基础复用元素 */
.yellow-line {
  width: 50px;
  height: 5px;
  background-color: #ffc107;
  margin: 0 auto 30px auto;
}

/* 媒体查询对应的字体变化 */
@media screen and (max-width: 768px){
  h2{
    font-size: 18px !important;
  }
  h4{
    font-size:14px !important;
  }
  h3 {
    font-size: 16px !important; 
  }

  p {
    font-size: 12px !important;
  }
}