<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.OrderQueryMapper">
<!--    这是给用户自己做查询的   -->
    <select id="selectOrdersByPhone" resultType="com.test.domain.vo.UserOrderVo">
        SELECT o.project_name,o.status,o.product,o.email,o.issue,o.full_name,o.create_time
        FROM orders o
        WHERE phone = #{phone}
    </select>
</mapper>